.news-content {
    margin: 15px 0px;
}
.img-article img {
    height: auto;
    max-width: 100% !important;
}
.news-content h2.title-article a {
    font-size: 18px;
    line-height: 20px;
    color: #333;
    &:hover {
        color: #0096d9;
        text-decoration: none;
    }
}
.body-content ul {
    float: left;
    width: 100%;
}
.body-content .info-more li:first-child {
    padding-left: 0px;
}
.body-content .info-more li {
    position: relative;
    padding-left: 20px;
    display: inline-block;
}
.body-content .info-more a, .body-content .info-more time {
    color: #333333;
    text-decoration: none;
    font-style: italic;
    font-size: 14px;
    padding-left: 5px;
}
hr.line-blog {
    border: 0;
    width: calc(100% - 30px);
    border-bottom: 1px solid #ebebeb;
    border-top: none;
    margin-bottom: 25px;
    margin: auto;
}
.btn-rb {
    &:hover {
        background: #0096d9;
        color: #fff;
        text-decoration: none;
    }
}
