.wrap-breadcrumb {
    background: #ebebeb;
    margin-bottom: 30px;
}
.main-header {
    text-transform: uppercase;
    padding: 10px 0;
}
.main-header .pd5 {
    padding-left: 0;
}
.main-header .breadcrumb {
    display: block;
    float: none;
    background: transparent;
    font-size: 11px;
    line-height: 30px;
    color: #737373;
    padding: 0 10px;
    margin: 0;
    border-radius: 0;
}
.breadcrumb>li {
    display: inline-block;
}
.breadcrumb>.active {
    color: #333333;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
.list-group {
    clear: both;
    background: #fff;
    margin-top: 0px;
}
.group_sidebar .sb-title, .main-content .sb-title-content, .AccountTitle {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    position: relative;
    border-bottom: none;
    padding-bottom: 10px;
}
.sb-title:before, .AccountTitle:before {
    position: absolute;
    top: 100%;
    content: '';
    width: 45px;
    height: 2px;
    background-color: #0096d9;
}
.menu-category .title h3{
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    position: relative;
    border-bottom: none;
    padding-bottom: 10px;
    &:before {
        position: absolute;
        top: 100%;
        content: '';
        width: 45px;
        height: 2px;
        background-color: #0096d9;
    }
}
.menu-category .list-item ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.menu-category .list-item .item {
    border-bottom: 1px solid #ebebeb;
    position: relative;
    &:hover {
        a {
            color: #0096d9;
        }
        color: #0096d9 !important;
    }
    a {
        text-transform: uppercase;
        font-size: 13px!important;
        padding: 15px 20px;
        position: relative;
        display: block;
        color: #333333;
        text-decoration: none;
        outline: none;
    }
    i {
        position: absolute;
        top: 16px;
        right: 0;
        cursor: pointer;
    }
    .sub-list-item {
        display: none;
        left: 0 !important;
        position: static;
        box-shadow: none;
        min-width: 210px;
        margin: 0;
        padding: 0;
        background-color: #ebebeb;
        opacity: 1;
        visibility: visible;
        .sub-item {
            border-bottom: none;
            padding: 0px!important;
            a {
                margin-left: 0;
                padding-left: 30px;
                line-height: 22px;
                color: #999;
                font-size: 14px !important;
                text-transform: none;
                padding: 10px 50px;
            }
        }
    }
}
.content h1 {
    font-size: 20px;
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
}
.browse-tags {
    float: right;
    padding-bottom: 0px;
    padding-left: 15px;
}
.browse-tags .custom-dropdown {
    width: 180px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.custom-dropdown {
    margin-top: 5px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    max-width: 100%;
    overflow: hidden;
    margin-left: 2px;
    border-radius: 0px;
}
.browse-tags .custom-dropdown__select {
    text-transform: none;
    font-size: 14px;
}
.custom-dropdown__select {
    display: block;
    height: 36px;
    padding: 0 34px 0 12px;
    background: transparent;
    outline: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    text-indent: 1px;
    text-overflow: '';
    border: 1px solid #ebebeb;
}
.custom-dropdown__select {
    font-size: inherit;
    padding: .5em;
    margin: 0;
    width: 100%;
}
.custom-dropdown::after {
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    right: 14px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #bababa transparent transparent transparent;
}
.sort-collection {
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 12px;
    color: #333333;
    font-weight: 400;
}
