.contactFormWrapper {
    margin-bottom: 15px;
}
.content-contact h3 {
    font-size: 22px;
}
hr {
    border-top: 1px solid #ebebeb;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.contact-form .input-lg, .contact-form .form-group-lg .form-control {
    height: 43px;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 17px;
    border-radius: 4px;
}
ul {
    padding: 0;
    list-style-type: none;
}
.btn-rb {
    display: inline-block;
    padding: 10px 20px;
    width: auto;
    margin: 0;
    line-height: 1.42;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    text-transform: uppercase;
    background-color: #ffffff;
    color: #333333;
    font-size: 11px;
    border: 1px solid #333333;
}
