.detail-product .prod-img img {
    max-width: 100%;
}
.product-title h1 {
    margin-top: 0;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px;
    line-height: 22px;
    text-transform: capitalize;
}
#pro_sku {
    color: #333333;
    font-size: 14px;
    padding-left: 2px;
}
.product-price {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 12px;
    margin-top: 10px;
}
.product-price span {
    color: #db2121;
    font-size: 24px;
    margin-right: 25px;
}
.selector-wrapper, .select-wrapper {
    margin-top: 17px;
}
.selector-wrapper label, .select-wrapper label {
    font-size: 13px;
    color: #333333;
    display: block;
}
.custom-dropdown {
    margin-top: 5px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    max-width: 100%;
    overflow: hidden;
    margin-left: 2px;
    border-radius: 0px;
    width: 200px;
}
.custom-dropdown__select {
    display: block;
    height: 36px;
    padding: 0 34px 0 12px;
    background: transparent;
    outline: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    text-indent: 1px;
    text-overflow: '';
    border: 1px solid #ebebeb;
}
.custom-dropdown__select {
    font-size: inherit;
    padding: .5em;
    margin: 0;
    width: 100%;
}
.single-option-selector {
    color: #737373;
}
#quantity {
    text-indent: 10px;
    height: 35px;
    max-width: 100%;
    border-radius: 0;
    width: 60px;
    margin-bottom: 10px;
    border: 1px solid #ebebeb;
}
.btn-color-add {
    background: #0096d9;
    width: 200px;
    margin: 10px 0px;
}
.btn-detail {
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid transparent;
    position: relative;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    height: 48px;
    cursor: pointer;
}
.btn-color-add:after {
    background: url(http://hstatic.net/333/1000150333/1000203368/add-cart.svg?v=19) no-repeat center center;
    background-size: 22px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.2);
}
#buy-now {
    display: inline-block;
}
.btn-color-buy {
    background: #fdbc0e;
    cursor: pointer;
    width: 200px;
    margin: 10px 0px;
}
.btn-color-buy:after {
    background: url(http://hstatic.net/333/1000150333/1000203368/add-buy.svg?v=19) no-repeat center center;
    background-size: 22px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.2);
}
.btn-detail:after {
    content: "";
    background-size: 22px;
    position: absolute;
    top: -1px;
    left: -1px;
    display: block;
    width: 48px;
    height: 48px;
}
.box-like-socials-article {
    float: left;
    padding-right: 5px;
}
.pt20 {
    padding-top: 20px !important;
}
.product-comment .nav {
    border-bottom: 1px solid #333333;
}
.product-comment li {
    float: left;
}
.product-comment li :first-child {
    padding-left: 0px;
}
.product-comment li a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: #333333;
    text-align: center;
    text-decoration: none;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.product-comment #mota {
    padding: 10px;
}
.col-md-12.list-like {
    padding: 0px;
}
.title-bl, .title-like {
    border-bottom: 1px solid #333333;
    margin-bottom: 23px;
}
.title-bl > h2, .title-like > h2 {
    color: #333333;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
    text-transform: uppercase;
}
#binhluan, #like {
    margin-top: 20px;
}
