body {
    font-family: Roboto, sans-serif;
}
.styled_header.use_icon {
    border-bottom: 1px dotted #333333;
}
.styled_header {
    width: 100%;
    float: left;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
}
.styled_header h2 {
    font-size: 14px;
    line-height: 14px;
    margin: 0 0 10px;
    font-weight: 400;
}
.styled_header.use_icon h3 {
    margin: 0 0 20px;
}
.styled_header h3 {
    font-weight: 500;
    font-size: 20px;
}
.styled_header .icon {
    display: block;
    width: 30px;
    min-height: 20px;
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -15px;
    font-size: 20px;
    background: #fff;
    text-align: center;
}
.list-product .product-block {
    overflow: hidden;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
}
.product-block .product-img {
    overflow: hidden;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.product-block .product-img img {
    max-width: 100%;
    margin: 0 auto;
}
.product-block .product-detail {
    margin: 10px auto 10px auto;
    width: 100%;
    padding: 0 10px;
    text-align: center;
    margin-top: 0px;
}
.product-block .pro-name a {
    width: 100%;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: 0 0 0.5rem 0;
    color: #333333;
    font-size: 14px!important;
    line-height: 19px !important;
    margin: 0 !important;
    font-weight: 400;
    text-decoration: none;
    &:hover {
        color: #0096d9;
    }
}
.product-block .product-detail .pro-prices {
    margin: 0 0 10px;
    padding-right: 8px;
    color: #db2121;
}
.product-block {
    &:hover {
        .actionss {
            left: unset;
        }
    }
}
.product-block .actionss {
    width: 100%;
    position: absolute;
    /* padding-top: 15px; */
    padding-bottom: 15px;
    text-align: top;
    bottom: 0;
    left: 100%;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    margin-left: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    list-style: none;
}
.product-block .actionss >div {
    float: left;
    text-align: center;
    margin-bottom: 0;
    margin-left: 10px;
    cursor: pointer;
    display: block;
}
.product-block .actionss a {
    border: 0px solid transparent !important;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
    background-color: #ffffff;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    position: relative;
    border: none;
    width: 32px;
    height: auto;
    text-align: center;
    line-height: 32px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    color: #333333;
    &:hover {
        background: #0096d9;
        i {
            color: #fff;
        }
    }
}
.list-product .pull-center {
    text-align: center;
    margin-bottom: 15px;
}
.btn.btn-readmore {
    padding: 0 30px;
    outline: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-transform: uppercase;
    height: 36px;
    line-height: 38px;
    border: none;
    text-align: center;
    letter-spacing: 0px;
    background: #ffffff;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    overflow: hidden;
    margin-top: 0px;
    -webkit-transition: background-color 0.3s, box-shadow 0.3s, color 0.3s, opacity 0.3s;
    -moz-transition: background-color 0.3s, box-shadow 0.3s, color 0.3s, opacity 0.3s;
    -o-transition: background-color 0.3s, box-shadow 0.3s, color 0.3s, opacity 0.3s;
    -ms-transition: background-color 0.3s, box-shadow 0.3s, color 0.3s, opacity 0.3s;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s, opacity 0.3s;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
    &:hover {
        color: #fff;
        background: #0096d9;
    }
}
.home-banner-1, .banner-bottom {
    margin-top: 15px;
}
aside.banner-home-1 {
    background: url(http://hstatic.net/333/1000150333/1000203368/banner-top.jpg?v=19);
    position: relative;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 45px
}
.divcontent {
    z-index: 2;
    position: relative;
}
.ad_banner_1 {
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
}
.ad_banner_2 {
    color: #fdbc0e;
    margin-left: 10px;
}
.ad_banner_desc {
    font-size: 12px;
    color: #ffffff;
    line-height: 20px;
    display: block;
    margin-top: 10px;
}
.divstyle {
    display: block;
    padding: 30px;
    z-index: 1;
    position: absolute;
    border: none;
    top: 0;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.block-home-category {
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}
.block-home-category img {
    width: 100%;
    transition: all 400ms ease-in-out 0s;
    vertical-align: middle;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

